body {
    max-width: 60em;
    margin: 6em auto 19em;
    background: rgb(230, 224, 216);
    font: 1.156em/1.3 My Gill Sans, Lato, sans-serif;
    position: relative;
    box-shadow: 0 .2em 1em rgb(184, 182, 165);
    color: dimgray;
}

h3 {
    text-align: center;
}
.page-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    min-height: 10em;
    background: rgb(236, 231, 226);
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
}

.middleblock {
    text-align: center;
}