{% include "header.html" %}

<div class="page-content">
    <h3>Flask endpoint representation</h3>
    <p>
        Welcome to "{{pagename}}"!
        <br>
        Current endpoint: {{endpoint}}
    </p>
    <p>
        Check the others:
        <br>
        <a href="{{url_for('index_endpoints')}}">Main endpoints page</a>
        <br>
        <a href="{{url_for('static_endpoint')}}">Static endpoint</a>
        <form action="{{url_for('form_handler')}}" method="post">
              <label for="inputname">Dynamic endpoint (specify the input):</label>
              <input name="inputname" value="">
              <button>Follow</button>
        </form>
    </p>
    <a href="{{url_for('index')}}">Return</a>
</div>

{% include "footer.html" %}