{% include "header.html" %}

<div class="page-content">
    <h3>External API interface</h3>
    <p>
        Access various data on SITE using it's own API via next app's redirect:
    </p>
    <p>
        API's for check:
        <form action="{{url_for('form_handler')}}" method="post">
            <label for="api_request">
                <a href="https://en.wikipedia.org/w/api.php">Wikiperdia API</a>
            </label>
            <input name="api_request" value="">
            <button>Follow</button>
            <br>
            <i>(example: action=opensearch&search=api&format=json)</i>
        </form>
    </p>
    <a href="{{url_for('index')}}">Return</a>
</div>

{% include "footer.html" %}